<app-nav-bar></app-nav-bar>
<app-header></app-header>
<!-- <app-add-task></app-add-task> -->

<div class="content">
    <div class="left">
        <div class="contact">
            <h4>CONTACT</h4>
            <h5>Phone</h5>
            <p>698846841</p>
            <h5>email</h5>
            <p>SDD65@gmail.com</p>
            <h5>Home</h5>
            <p>PK17 Madelone</p>
        </div>
        <div class="follow">
            <h1>FOLLOW ME</h1>
            <h4>Facebook</h4>
            <p>facebook.com/username</p>
            <h4>Instagram</h4>
            <p>Instagram.com/username</p>
            <h4>Youtube</h4>
            <p>Youtube.com/username</p>
            <h4>Twitter</h4>
            <p>Twitter.com/username</p>
        </div>
    </div>
    <div class="right">
        <div class="about">
            <h1>ABOUT ME</h1>
            <p>                Wep developer with 9months trainning in 
                Seven Advance Academic,Have complited level one
                who had to give me knowledge of HTML and CSS
                after which I did Javascript in level two.
                Just building my first Angular App. 
            </p>
        </div>
        <div class="skills">
            <h1>Skills</h1>
            <div class="bars">
                <div class="bar-right">
                    <div class="bar">
                        <p>Photoshop</p>
                        <span></span>
                    </div>
                    <div class="bar">
                        <p>Html</p>
                        <span></span>
                    </div>
                    <div class="bar">
                        <p>CSS</p>
                        <span></span>
                    </div>
                </div>
                <div class="bar-left">
                    <div class="bar">
                        <p>SQL</p>
                        <span></span>
                    </div>
                    <div class="bar">
                        <p>JavaScript</p>
                        <span></span>
                    </div>
                    <div class="bar">
                        <p>Angular</p>
                        <span></span>
                    </div>
                </div>
            </div>
        </div>
        <div class="work">
            <h1>
            Work Experience</h1>
            <div class="work-group">
                <h3>LEAD WORK EXPERIENCE</h3>
                <h4>SEVENDAY ACCADEMIC</h4>
                <span>2022/2023</span>
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>