<section class="mainly">
    <div class="main">
        <h4>Welcome To My Website</h4>
        <h1> <span >{{username}}</span> Your Perfect Tasks Generator .   </h1>
        <button class="out"><a routerLink="/add-task">Create My Tasks</a> </button>
    </div>
</section>

<!-- <section class="about">
    <div class="me">
        <div class="pic">
            <h1>About Me</h1>
        </div>
        <div class="cv">
            <h2>
                Tchinda Kuete Romaric
            </h2>
            <h5>
                Wep Developer
            </h5>
            <p>
                Wep developer with 9months trainning in 
                Seven Advance Academic,Have complited level one
                who had to give me knowledge of HTML and CSS
                after which I did Javascript in level two:
                Just building my first Angular App. 
            </p>
            
        </div>
    </div>
</section> -->