<section class="hero">
<div class="hero-me">
    <h1 class="heading">Register</h1>
    <form action="">
        <div class="el-h">
            <input type="text" [(ngModel)]="user.name" name="name" placeholder="User name" required="required"/>
        </div>
        <div class="el-h">
            <input type="text" [(ngModel)]="user.email" name="email" placeholder="User email" required/>
        </div>
        <div class="el-h">
            <input type="password" [(ngModel)]="user.password" name="password" placeholder="password" required="required"/>
        </div>
        <div class="el-h">
            <button type="button" (click)="Register()">Register</button>
        </div>
    </form>
</div>
</section>
