<div [attr.class] class="nav">
    <div class="logo">
        <p class="m">M</p>
        <p class="p">P</p>
        <p class="cv">TG</p>
    </div>
    
    <div class="bout">
        <ul>
            <li class="home">Home</li>
            <li>About</li>
            <li>Follow</li>
            <li>Contact</li>
            <li>Skills</li>
            <li>Work</li>
    
            <button class="out" type="button" (click)="logoutfnx()">
                Logout
            </button>
        </ul>
    </div>
</div>